.cat_animal{
    display: flex;
    align-items: center;
    margin-top: 300px;
}

img{
    width: 30%;
    height: 70%;
}


.cat{
    width:33.33%;
    text-align: center;
    border:3px solid transparent;
   
}

.cat:first-child{
    margin-right: 20px;
}
.cat:last-child{
    margin-left: 20px;
}